.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


/*------------------------------- Add a movie button -------------------------------*/
.add-movie {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1em 0.7em;
    overflow: hidden;
    border-radius: 10px;
    width: 15%;
    /* min-height: 263px; */
}

.add-movie:hover {
    transform: scale(1.05);
}

#plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: rgb(63, 63, 63);
    border-style: none;
    z-index: 1;
}

.add-movie label {
    font-size: 100px;
}

.add {
    color: black;
}

/* -------------------------------Popup form -------------------------------*/

.popup-bg {
    background:rgba(0,0,0,.4);
    cursor:default;
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    z-index:10000;
}

.helper {
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.popup-box {
    background-color:rgb(34, 34, 34);
    box-shadow: 10px 10px 70px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: fit-content;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    cursor: default;
}

.form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: left;
}

.x-btn {
    color: rgb(34, 34, 34);
}

.close-btn {
    background-color: orange;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.close-btn:hover {
    background: rgb(190, 124, 0);
}

.popup-box label {
    color: orange;
    margin: 0.5em 0;
}

.popup-box input {
    color: orange;
    background: transparent;
    margin: 5px 1em 2em;
    width: 200px;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.popup-box textarea {
    color: orange;
    background: transparent;
    margin: 5px 1em 2em;
    width: 200px;
    height: 100px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(75, 75, 75);
}

.popup-box .form-btn {
    width: 100px;
    border: 50px rgb(34, 34, 34);
    border-radius: 50px;
    background: orange;
    color: rgb(34, 34, 34) ;
    font-weight: 600;
    font-size: 16px;
    margin: 1em auto;
}

.popup-box .form-btn:hover{
    background: rgb(190, 124, 0);
    cursor: pointer;
}

/*------------------------------- Media Queries -------------------------------*/
/* Large devices */
@media (min-width: 992px) and (max-width:1200px) {
    .add-movie {
        width: 20%;
        height: 100%;
    }
}

/* medium devices */
@media (min-width: 768px) and (max-width:992px) {
    .add-movie {
        width: 25%;
    }
}

/* Small Devices */
@media (min-width: 576px) and (max-width:768px) {
    .add-movie {
        width: 30%;
    }
}

/* Extra small devices */
@media (max-width: 576px){
    .add-movie {

        margin: 1em 0.5em;
        width: 45%;
    }
}